/* Styling the ongoing sticky element in middlesection */
.fixed {
  position: fixed;
  top: 80px;
  left: 10px;
  z-index: 9999;
}

.abslute {
  position: absolute;
  z-index: 9999;
  left: 10px;
}

/* styling the components */
.hrefHover {
  text-decoration: none;
}

.hrefHover:hover {
  text-decoration: underline;
}

.displayNone {
  display: unset;
}

.displayUnset {
  display: none;
}

.width75 {
  width: 75%
}

.width25 {
  width: 25%
}

/* Responsive desgin
/* small devices */
@media (max-width: 767.98px) {
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }

  .textCenter {
    text-align: center;
  }

  .colAuto {
    flex: 0 0 auto;
    width: 100%;
  }

  .displayNone {
    display: none;
  }

  .displayUnset {
    display: unset;
  }

  .flexSmallReverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .width25 {
    width: 55%
  }

  .width75 {
    width: 100%
  }

  .padding10 {
    padding: 0px 25px;
  }
}